/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */

h1 {
	color: rgb(2, 132, 130);
}

h2 {
	color: #ffd700;
}

body {
	text-align: center;
}

/*navbar*/

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #808080;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 35px;
    text-decoration: none;
    background-color: #ffbf00;
}

li a:hover {
    background-color: #ee5f3c;
}

footer {
	background-color: #808080;
}

/*creator link*/
a {
	text-decoration: none;
}

.board {
	height: 50%;
	width: 50%;
	display: inline-block;
	/*float: left;*/


}

.card {
	height: 200px;
	width: 150px;
	border-color: black;
	border-radius: 10px;
	border-style: solid;
	border-width: : 1px;
	background-color: rgb(255, 255, 0);
	float: left;
	margin: 8%;
}

.name {
	color: #ff0000;
	text-decoration: none;
}

 .clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

#left {
	float: left;
}

#right {
	float: right;
}

